Django==6.0.1
django-ckeditor==6.7.3
django-cors-headers==4.9.0
django-unfold==0.76.0
djangorestframework==3.16.1
drf-yasg==1.21.11
gunicorn==23.0.0
pillow==12.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
